<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %} counterbet.com {% endblock %}
{% block content %}
<h1>News</h1>
<hr />
<h2>Next major will be in October 2021</h2>
source: <a href="https://blog.counter-strike.net/index.php/2021/01/32508/">official announcement</a>
<img class="center" src="https://pbs.twimg.com/media/ErtnOcSVgAAQkcy?format=jpg&name=large" alt="Next Major: PGL Stockholm 2021">
<p>
    CS:GO's next Major Championship will be hosted by PGL, and will take place in Stockholm at the Ericsson Globe, October 23rd-November 7th, provided it is safe to hold live competitive events by that time.

    Join us in Sweden, or watch all of the matches online with the CS:GO Major's first 4K 60fps stream!

    Twenty-four teams will battle for their share of a $2,000,000 prize pool. Those teams will be identified through a series of Regional Major Ranking (RMR) events throughout the year, initially taking place online and culminating in at least one offline RMR per region prior to the Major. We'll provide more detail about 2021 RMR events soon.

    It has been a long stretch since CS:GO last crowned a Major Champion. Who will rise to the top and claim the title?

</p>
<hr />
<h2>Counter-Strike legend GeT_RiGhT leaves game to stream full-time</h2>

taken from <a href="https://win.gg/news/6881/counter-strike-legend-get-right-leaves-game-to-stream-full-time">win.gg</a>
<img class="center" src="https://cdn-images.win.gg/resize/w/932/h/420/format/jpg/type/progressive/fit/cover/path/news/5f6ecc9686eb1bff304bbda038c60c54/e1f5bd0212de6add12f100a12fab7742/original.jpg" alt="Get_Right">
<p>After over a decade of playing for some of Counter-Strike's best organizations, major winner Christopher "GeT_RiGhT" Alesund has announced his plans to take a step back from the game's esports scene. The announcement came on January 16 with a tweet from GeT_RiGhT's current team, DIGNITAS, where the player will stay as he begins a full-time streaming career. According to the tweet and its accompanying media, GeT_RiGhT will host his own "cinematic, live stream universe" under the organization.</p>
<hr />
<h2>ZywOo picks dev1ce over s1mple as best CSGO player of the year</h2>
taken from <a href="https://win.gg/news/6856/zywoo-picks-dev1ce-over-s1mple-as-best-csgo-player-of-the-year">win.gg</a>
<img class="center" src="https://cdn-images.win.gg/resize/w/932/h/420/format/jpg/type/progressive/fit/cover/path/news/34ad9bc83e3c72c62281cb2c744ac966/63c93ef91d9c8ad1f11761c5ba09dfde/original.png" alt="ZywOo and device">
<p>
    Mathieu "ZywOo" Herbaut has given his verdict for the best player of 2020. ZywOo, who's a fan-favourite for the number one spot himself, has revealed that his top pick is Nicolai "dev1ce" Reedtz.

    ZywOo has introduced a new player to the race between him and Oleksandr "s1mple" Kostyliev for the best player of the year. In an interview with 1pv.fr, Vitality's AWPer admitted that the number one spot belongs to Astralis' core player dev1ce. The French player commended dev1ce's play style over that of s1mple, who's in tight competition to be the best player in Counter-Strike: Global Offensive. G2's AWPer Kenny "kennyS" Schrub was on the same page and agreed with ZywOo.
</p>
{% endblock %}