<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>counterbet.com</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
</head>
<body style="background-color: #B8860B;">
    <div>
        <h1>Login</h1>
        <div>
            Click to <a href="{{ url_for('register_page') }}" class="active"><highlight>Register!</highlight></a>
        </div>
        <form action="{{ url_for('login_page') }}" method="post">
            
            <input class="box" type="text" name="nickname" placeholder="Nickname" id="nickname" required>
            
            <input class="box" type="password" name="password" placeholder="Password" id="password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>