<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}counterbet.com{% endblock %}
{% block content %}
<h1>Matches</h1>
<h2>Ongoing Matches</h2>
<table>
    {% for match in ongoing %}
    <tr>
        <td>
            <b><highlight>Match ID: </highlight></b>{{ match.id }}
            &emsp;
            <b><highlight>Team 1: </highlight></b>{{ match.team1 }}
            &emsp;
            <b><highlight>Team 2: </highlight></b>{{ match.team2 }}
            &emsp;
            <b><highlight>Team 1 Odd: </highlight></b>{{ match.team1_odd }}
            &emsp;
            <b><highlight>Team 2 Odd: </highlight></b>{{ match.team2_odd }}
            &emsp;
            <b><highlight>Match Date: </highlight></b>{{ match.date }}
            &emsp;
            <b><highlight>Match Score: </highlight></b><matchscoretag>{{ match.score }}</matchscoretag>
            &emsp;<br />
            {% if (session['nickname'] == "admin") and (match.score == "0 - 0") %}
                <form action="{{ url_for('matches_page') }}" method="post">
                    <button type="submit" name="startmatch" value="{{ match.id }}"> Execute </button>
                </form>
            {% endif %}
</td>
    </tr>
    {% endfor %}
</table>
<hr />
<hr />
<h2>Upcoming Matches</h2>
<table>
    {% for match in upcoming %}
    <tr>
        <td>
            <b><highlight>Match ID: </highlight></b>{{ match.id }}
            &emsp;
            <b><highlight>Team 1: </highlight></b>{{ match.team1 }}
            &emsp;
            <b><highlight>Team 2: </highlight></b>{{ match.team2 }}
            &emsp;
            <b><highlight>Team 1 Odd: </highlight></b>{{ match.team1_odd }}
            &emsp;
            <b><highlight>Team 2 Odd: </highlight></b>{{ match.team2_odd }}
            &emsp;
            <b><highlight>Match Date: </highlight></b>{{ match.date }}
        <form action="{{ url_for('matches_page') }}" method="post" name="betmatch">
            <br><input type="radio" name="betodd" value="{{ match.id }},  {{ match.team1_odd }}"> Bet for {{ match.team1 }}: <strong>{{ match.team1_odd }}</strong>
            <br><input type="radio" name="betodd" value="{{ match.id }}, {{ match.team2_odd }}"> Bet for {{ match.team2 }}: <strong>{{ match.team2_odd }}</strong>
            <br><input class="box" type="text" name="betamount" placeholder="Amount" id="betamount" required>
            {% if returnid == match.id %}
            <br><div class="msg">{{ msg }}</div>
            {% endif %}
            <input type="submit" value="Play Bet">
        </form>
        </td>
    </tr>
    {% endfor %}
</table>
<hr />
<hr />
<h2>Played Matches</h2>
<table>
    {% for match in played %}
    <tr>
        <td>
            <b><highlight>Match ID: </highlight></b>{{ match.id }}
            &emsp;
            <b><highlight>Team 1: </highlight></b>{{ match.team1 }}
            &emsp;
            <b><highlight>Team 2: </highlight></b>{{ match.team2 }}
            &emsp;
            <b><highlight>Team 1 Odd: </highlight></b>{{ match.team1_odd }}
            &emsp;
            <b><highlight>Team 2 Odd: </highlight></b>{{ match.team2_odd }}
            &emsp;
            <b><highlight>Match Date: </highlight></b>{{ match.date }}
            &emsp;
            <b><highlight>Match Score: </highlight></b>{{ match.score }}
            &emsp;
            <b><highlight>Match Winner: </highlight></b>{{ match.winner }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}