<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}counterbet.com{% endblock %}
{% block content %}
<h1> {{ player.nickname }} </h1>
<p>

    <img src="{{url_for('static', filename = photostring)}}" />
    <table>
        <tr>
            <td>
                <h3><strong>{{ player.nickname }}</strong></h3>
                <h3> <highlight>Rating: </highlight></h3>{{ player.rating }}
            <h3><highlight>Team: </highlight></h3>{{ player.team }}
            <h3><highlight>Settings: </highlight></h3>{{ player.settings }}
            </td>
        </tr>
    </table>
</p>
{% endblock %}
