<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}counterbet.com{% endblock %}
{% block content %}
<h1>Welcome to your profile, {{ user_.nickname }}</h1>
<p>You've been with us since <b>{{ user_.registerdate }}</b>!</p>
<p>Currently, you have: <strong>${{ user_.balance }}</strong></p>

<h2>Add Money</h2>
<div>
    <form action="{{ url_for('profile_page') }}" method="post">
        <input class="box" type="text" name="balance" placeholder="Add Money" id="balance" required>

        <div class="msg"><b>{{ msg }}</b></div>

        <input type="submit" value="Add">
    </form>
</div>
<hr />
<hr />
<h2>Change Password</h2>

<div>
    <form action="{{ url_for('profile_page') }}" method="post">
        <input class="box" type="text" name="pwupdate" placeholder="New Password" id="pwupdate" required>

        <input type="submit" value="Update">
    </form>
</div>
<hr />
<hr />
<h2>Active Bets</h2>

<table>
    {% for bet in bets %}
    <tr>
        <td>
            <b>Bet ID: </b>{{ bet.id }}
            &emsp;
            <b>Team: </b>{{ bet.team }}
            &emsp;
            <b>Match ID: </b>{{ bet.matchid }}
            &emsp;
            <b>Amount: </b>{{ bet.amount }}
            &emsp;
            <b>Odd: </b>{{ bet.odd }}
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}