<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>counterbet.com</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body style="background-color: #B8860B;">
    <div>
        <h1>Register</h1>
        <div>
            <a href="{{ url_for('login_page') }}" class="active">Login</a>
        </div>
        <form action="{{ url_for('register_page') }}" method="post">
            <label for="nickname">
            </label>
            <input class="box" type="text" name="nickname" placeholder="Nickname" id="Nickname" required>
            <label for="password">
            </label>
            <input class="box" type="password" name="password" placeholder="Password" id="Password" required>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>