<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}counterbet.com{% endblock %}
{% block content %}
<h1>Teams</h1>
<p></p>
<form action="" method="post" name="top">
    <ol class="top">
        {% for team in teams %}
        <li>
            <b><strong>{{ team.name }}</strong></b>:
            &emsp;
            <a href="{{ url_for('player_page', player_nickname=team.captain) }}"><highlight>{{ team.captain }}</highlight></a>&emsp;-
            &emsp;
            <a href="{{ url_for('player_page', player_nickname=team.sniper) }}"><highlight>{{ team.sniper }}</a></highlight>&emsp;-
            &emsp;
            <a href="{{ url_for('player_page', player_nickname=team.entry_fragger) }}"><highlight>{{ team.entry_fragger }}</highlight></a>&emsp;-
            &emsp;
            <a href="{{ url_for('player_page', player_nickname=team.support) }}"><highlight>{{ team.support }}</highlight></a>&emsp;-
            &emsp;
            <a href="{{ url_for('player_page', player_nickname=team.lurker) }}"><highlight>{{ team.lurker }}</highlight></a>
            {% endfor %}
        </li>
    </ol>
</form>
{% endblock %}